body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* La imagen estará inicialmente oculta */
    animation: fadeIn 5s ease-in-out forwards; /* Animación para que aparezca gradualmente */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", Times, serif; /* Cambia la fuente a una más elegante */
    font-size: 48px; /* Cambia el tamaño del texto según tus preferencias */
    color: black; /* Cambia el color del texto a negro */
}

/* Estilos adicionales para ajustar según tus preferencias */

